body img {
  /* fu firefox */
  border: none;
}

#header, #signed-in, #plz-sign-in {
  font-family: Arial, sans-serif;
  text-decoration: none;
}

#header {
  height: 80px;
  -moz-box-shadow: 2px 3px 5px #888;
  -webkit-box-shadow: 2px 3px 5px #888;
  box-shadow: 2px 3px 5px #888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #45484d; /* old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* ie */
}

#header h1{
  position: relative;
  top: 10px;
  display: inline;
  color: #AAA;
}

#sorting a {
  position: relative;
  top: 15px;
  text-decoration: none;
  color: blue;
}

#sorting a:hover {
  text-decoration: underline;
  color: #AAA;
}

.link_title {
  font-size: 22px;
  margin: 0px
}

.link_title a {
  text-decoration: none;
  color: blue;
}

.link_preview {
  font-size: 12px;
}

.link_submitter {
  font-size: 12px;
  margin: 1px;
}

.link_comments {
  font-size: 12px;
  text-decoration: bold;
}

.link_comments a {
  text-decoration: none;
}

.link_comments a:hover {
  text-decoration: underline;
}

.submit-link {
  color: #AAA;
  width: 150px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* ie */
}

.submit-link a {
  text-align: center;
  text-decoration: none;
  color: #AAA;
}

#signed-in, #plz-sign-in {
  font-size: 11px;
  color: gray;
  float: right;
}

.notice {
  position:absolute;
  top: 90px;
}

#links_wrapper {
  position: absolute;
  top: 125px;
}

#comment-container {
  margin: 2px;
  display: inline-block;
}

#comment-author {
  color: #AAA;
  position: relative;
  width: 175px;
  -webkit-border-radius: 2px;
  -moz-border-raidus: 2px;
  background: #000; /* old browsers */
}

#comment-body {
  color: #000;
  padding-top: 3px;
  margin-bottom: 10px;
  background: #AAA;
}

.link_comments {
  position: relative;
  padding: 5px;
  margin: 10px 10px 3em;
  color: #000;
  background: #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -border-radius: 5px;
}

.link_comments:after {
  content:"";
  display:block;
  position:absolute;
  bottom: -10px;
  left: 5px;
  width: 0;
  height: 0;
  border-width: 15px 15px 0 ;
  border-style: solid;
  border-color: #666 transparent;
}

#word-comment {
  border-bottom: 1px dashed;
}
