<h2> <%= fu_robots(@user.email) %>'s Profile</h2>
<h3> <%= @user.karma %> Karma </h3>
<h3> Submitted Links </h3>
<% @user.links.each do |link| %>
  <h4><%= link_to link.title, link.url %></h4>
<% end %>
