/*
*= require_self
*= require_tree .
*/

html, body {
  background-color: #eee;
}

body {
  padding-top: 40px;
}

.container {
  width: 820px;
}

.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-raidus: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#header {
  padding: 10px;
}

.submit-link{
  margin-top: 5px;
}

.form-stacked {
  margin-top: 5px;
}
